<html>
<head>
<title>activity_signup.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_signup.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;ScrollView</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center_horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!-- Logo --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_logo_text&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;50dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;AGRILENS&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;28sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;serif&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Sign Up Title --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_signup_title&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Sign up&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Subtitle --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_signup_subtitle&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Create an account to get started&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#888888&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Name Input --&gt;</span>
        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_name_input&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Name&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_background&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;textPersonName&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Email Address Input --&gt;</span>
        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_email_input&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Email Address&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_background&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;textEmailAddress&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Password Input --&gt;</span>
        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_password_input&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Create a password&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_background&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
            <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/ic_visibility&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Confirm Password Input --&gt;</span>
        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_confirm_password_input&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Confirm password&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_background&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
            <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/ic_visibility&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Register Button --&gt;</span>
        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/capstone_register_button&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4CAF50&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Register&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;sans-serif-medium&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/ScrollView&gt;</span>
</pre>
</body>
</html>